body{
    background-color: pink;
    margin: 0 20%;
}
#title{
    text-align: center;
    text-shadow: 5px 5px 10px black;
    font-size: 3em;
}
img{
    display:inline;
    width: 80%;
    margin: 0 10%;
}
#img-caption{
    font-size: 11px;
}
div#tribute-info{
    background-color: grey;
    box-shadow: 20px 20px 15px grey;
    padding: 5px 10px;
    margin-top: 20px;

}
h1.title{
    color: yellow;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}